/* GENERAL PROPERTIES */

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  outline: 0;
  margin: 0;
  padding: 0;
  transition: 0.3s;
}

/* setup second line */

.wrap-controller {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin: 20px 0;
}

.controller {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 80%;
  font-size: 44px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: bold;
  font-weight: 700px;
  color: azure;
  letter-spacing: 0.06em;
}

.hidden {
  display: none;
}

/* buttons style */

/* increase click zone */
.button {
  display: block;
  cursor: pointer;
  width: 30px;
  height: 30px;
  /* content: ""; */
  /* background-color: transparent;
  border-color: 4px solid #9ebbf0;
  border-radius: 50%;*/
  padding: 15px 15px 15px 15px;
}

/* delete standart style */
input[type="radio"] {
  display: none;
  cursor: pointer;
  height: 0px;
  width: 0px;
  opacity: 0;

  /* position: relative;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none; */
}
/* add custom style */
span {
  display: block;
  cursor: pointer;
  justify-content: center;
  align-content: center;
  height: 30px;
  width: 30px;
  background-color: #9ebbf0;
  border: 4px solid #9ebbf0;
  border-radius: 50%;
}

/* label {
  cursor: pointer;
} */

/*  */

input[type="radio"] + span:hover {
  border: 4px solid azure;
  background-color: azure;
  opacity: 1;
}

input[type="radio"]:checked + span {
  background-color: transparent;
  border: 4px solid #9ebbf0;
  opacity: 1;
}

input[type="radio"]:checked + span:hover {
  background-color: transparent;
  border: 4px solid azure;
  opacity: 1;
}

/* добавить анимацию :active по клику */

/* текущая страница */

.image-slider {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  width: 1100px;
  overflow: hidden;
}

img {
  /* height: 700px; */
  max-width: 100%;
  border-radius: 9px;
}

/* carousel start*/

@keyframes move-right {
  from {
    left: 0px;
  }
  to {
    left: 900px;
  }
}

.transition-right {
  animation-name: move-left;
  animation-duration: 3s;
}

/* carousel finish*/

.window {
  display: flex;
  flex-direction: column;
  background-color: rgb(41, 40, 43);
  padding: 20px;
  max-width: 1280px;
  align-items: center;
}
